@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: #93c5fd;
}

::-webkit-scrollbar-thumb {
  background-color: #1e3a8a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e40af;
}

/* firefox */
@supports (scrollbar-color: #1e3a8a #93c5fd) {
  * {
    scrollbar-color: #1e3a8a #93c5fd;
    scrollbar-width: thin;
  }
}
